<table style="background-color: #0099d3; width: 100vw; ">
  <tr>
    <td align = "right" style="width: 75%; padding-right: 10px;">
      <div style="padding-top: 20px">
        <p class="patientFirstName" style="display: inline; color: white; font-size: 16px;">{{patientFirstname}} </p>
        <p class="patientLastName"  style="display: inline;  color: white; font-size: 16px; font-weight: bold;">{{patientLastname}}</p>
        <p style="color: white;font-size: 12px; line-height: 1;">{{ssn}}</p>
      </div>
    </td>

    <td style="width: 25%;">
      <div style="padding-top: 10px">
        <img class="borderleftwhite" [ngClass]="{'patientMotherAvatar': patientType === 'M','patientChildAvatar': patientType === 'C'}" height="26" width="30" /> 
      </div>
    </td>
  </tr>
</table>
