<app-main-header></app-main-header>
<ion-content>
  <div class = "body" *ngIf = "stock">
    <div class = "mainTitle">
      <h1>
       {{ stock.symbol }}
      </h1>
      <h3>
        {{ stock.company }}
      </h3>
    </div>
  
    <div class = "tweetList">
      <ion-list *ngFor = "let tweet of stock.tweets">
        <div class = "tweet">
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../assets/icon/supdup.jpg">
            </ion-avatar>
            <ion-label text-wrap>
              <p>
                SuperDuper Investor@SuperDuperInvst
              </p>
              <div>
                <span>
                  {{ tweet }}
                </span>
              </div>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
  
</ion-content>
